.pie {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 6px;
    margin-bottom: 5px;
    margin-top: 100px;
    height: 15px;
    display: flex;   
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.pie1 {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 6px;
    margin-bottom: 5px;
    margin-top: 400px;
    height: 15px;
    display: flex;   
    gap: 50px;
    justify-content: center;
    align-items: center;
}