.encabezado {
    background-image: url(../img/INSA_slider-web_1920x583_turismo.png);
    background-size: cover;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: medium;
}
.encabezado_1 h1 {
    color: black;
    display: flex;
    font-size: 25px ;
    margin-bottom: 50px;
}