$boton:(
    fondo:#fff
    color:rgb(20, 20, 142)
    bordes: 2px solid #024059
    padding: 16px 20px
    letra: bold
    claseletra: 'Noto Sans', sans-serif
  );
  $fondo: #C4E1E7;
  $fondo2: linear-gradient(#141e30, #243b55);
  $fondo3: linear-gradient(87deg, rgba(255,255,255,1) 0%, rgba(196,225,231,1) 99%);
  